#maindiv {
    display:flex;
    justify-content: center;
}

#maindiv > div {
    background-color: rgba(255, 255, 0, 0.407);
    height: 300px;
    width: 150px;
    border: solid black 2px;
    margin: 20px;
}

p {
    margin: 0px;
}

#div4 {
    border: solid red 5px;
    background-color: blue;
}

li {
    transform: translate(20px);
  
}

ul {
    margin: 0px;
}
